<div class="ChatroomHead">
  <div class="ChatroomHeadName">hogefuga</div>
  <div class="ChatroomHeadExit"><a href="">チャットを終了する</a></div>  
</div>
<div class="ChatroomRoom">
  <div class="ChatroomRoomMessage">
    <div class="ChatroomRoomMessageHead">
      <div class="ChatroomRoomMessageHeadName">Mr.Hoge</div>
      <div class="ChatroomRoomMessageHeadDate">2020/3/31(Wed) 12:43:30</div>
    </div>
    <div class="ChatroomRoomMessageText">おはよう</div>
  </div>
  <div class="ChatroomRoomMessage">
    <div class="ChatroomRoomMessageHead">
      <div class="ChatroomRoomMessageHeadName">Mr.Fuga</div>
      <div class="ChatroomRoomMessageHeadDate">2020/3/31(Wed) 12:43:30</div>
    </div>
    <div class="ChatroomRoomMessageText">Good Morning</div>
  </div>
  <div class="ChatroomRoomMessage">
    <div class="ChatroomRoomMessageHead">
      <div class="ChatroomRoomMessageHeadName">Mr.Hoge</div>
      <div class="ChatroomRoomMessageHeadDate">2020/3/31(Wed) 12:43:30</div>
    </div>
    <div class="ChatroomRoomMessageText">こんにちは</div>
  </div>
  <div class="ChatroomRoomMessage">
    <div class="ChatroomRoomMessageHead">
      <div class="ChatroomRoomMessageHeadName">Mr.Fuga</div>
      <div class="ChatroomRoomMessageHeadDate">2020/3/31(Wed) 12:43:30</div>
    </div>
    <div class="ChatroomRoomMessageText">Hello</div>
  </div>
  <div class="ChatroomRoomMessage">
    <div class="ChatroomRoomMessageHead">
      <div class="ChatroomRoomMessageHeadName">Mr.Hoge</div>
      <div class="ChatroomRoomMessageHeadDate">2020/3/31(Wed) 12:43:30</div>
    </div>
    <div class="ChatroomRoomMessageText">こんばんは</div>
  </div>
  <div class="ChatroomRoomMessage">
    <div class="ChatroomRoomMessageHead">
      <div class="ChatroomRoomMessageHeadName">Mr.Fuga</div>
      <div class="ChatroomRoomMessageHeadDate">2020/3/31(Wed) 12:43:30</div>
    </div>
    <div class="ChatroomRoomMessageText">Good Afternoon</div>
  </div>
</div>
<div class="ChatroomForm">
  <div class="ChatroomFormInput">
    <input class="ChatroomFormInputMessage" placeholder="type a message">
    <label class="ChatroomFormInputImage">
      <span class="ChatroomFormInputImageFile">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="ChatroomFormInputSubmit" type="submit" value="送信">
</div>