<div class="ChatroomRoomMessage">
  <div class="ChatroomRoomMessageHead">
    <div class="ChatroomRoomMessageHeadName"><%= message.user.name %></div>
    <div class="ChatroomRoomMessageHeadDate"><%= message.created_at %></div>
  </div>
  <div class="ChatroomRoomMessageText"><%= message.content %></div>
</div>