<div class="SidebarHead">
  <div class="SidebarHeadName"><%= link_to current_user.name, edit_user_path(current_user) %></div>
  <div class="SidebarHeadNewroom"><%= link_to 'チャットを作成する', new_room_path %></div>
</div>
<div class="SidebarRooms">
  <% current_user.rooms.each do |room| %>
    <div class="SidebarRoomsWrapper">
      <div class="SidebarRoomsName"><a href=""><%= room.name %></a></div>
    </div>
  <% end %>
</div>